<div class="statistics wrapper">
  <div class="head">
    <div class="st-wall">
      <div class="data-num">
        <span class="data-1">634.39</span>
        <span class="data-2">+2.18(3.71%)</span>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="info">
      <div class="date-time">{{dataLang?.statistics.labelToday}} 2:25 <span>PM</span></div>
      <div class="location">Salt Lake City, Utah</div>
    </div>
    <div class="market">
      <div class="m-item">
        <span class="num">13.5 M</span>
        <span class="text">{{dataLang?.statistics.labelShares}}</span>
      </div>
      <div class="m-item">
          <span class="num">28.44 B</span>
          <span class="text">{{dataLang?.statistics.labelMarket}}</span>
        </div>
    </div>
    <div class="market-2">
      <div class="m2-item m1">
        <span class="title">AAAPL</span>
        <div class="bars">
          <div class="bar red"><i class="fill-bar" style="height: 20%"></i></div>
          <div class="bar red"><i class="fill-bar" style="height: 40%"></i></div>
          <div class="bar red"><i class="fill-bar" style="height: 60%"></i></div>
          <div class="bar red"><i class="fill-bar" style="height: 80%"></i></div>
          <div class="bar green"><i class="fill-bar" style="height: 80%"></i></div>
          <div class="bar green"><i class="fill-bar" style="height: 60%"></i></div>
          <div class="bar green"><i class="fill-bar" style="height: 40%"></i></div>
          <div class="bar green"><i class="fill-bar" style="height: 20%"></i></div>
        </div>
      </div>
      <div class="m2-item m2">
        <span class="title">{{dataLang?.statistics.labelYear}}</span>
        <div class="numHigh"><span>+</span>127.01</div>
      </div>
    </div>
  </div>
</div>
