<div class="statistics wrapper">
  <div class="head">
    <div class="st-wall">
      <div class="data-num">
        <span class="data-1">634.39</span>
        <span class="data-2">+2.18(3.71%)</span>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="info">
      <div class="date-time">Today 2:25 <span>PM</span></div>
      <div class="location">Salt Lake City, Utah</div>
    </div>
    <div class="market">
      <div class="m-item">
        <span class="num">13.5 M</span>
        <span class="text">Shares Traded</span>
      </div>
      <div class="m-item">
          <span class="num">28.44 B</span>
          <span class="text">Market Cap</span>
        </div>
    </div>
    <div class="market-2">
      <div class="m2-item">
        <div class="bar red"><i class="fill-bar"></i></div>
        <div class="bar red"><i class="fill-bar"></i></div>
        <div class="bar red"><i class="fill-bar"></i></div>
        <div class="bar red"><i class="fill-bar"></i></div>
        <div class="bar green"><i class="fill-bar"></i></div>
        <div class="bar green"><i class="fill-bar"></i></div>
        <div class="bar green"><i class="fill-bar"></i></div>
        <div class="bar green"><i class="fill-bar"></i></div>
      </div>
      <div class="m2-item">
        <span class="title">Yearly Change</span>
        <div class="numHigh"><span>+</span>127.01</div>
      </div>
    </div>
  </div>
</div>
