<div class="statistics wrapper">
  <div class="head">
    <div class="st-wall">
      <div class="data-num">
        <span class="data-1">{{dataW?.charData1}}</span>
        <span class="data-2">{{dataW?.charData2}}</span>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="info">
      <div class="date-time">{{dataLang?.statistics.labelToday}} {{dataW?.time}}</div>
      <div class="location">{{dataW?.location}}</div>
    </div>
    <div class="market">
      <div class="m-item">
        <span class="num">{{dataW?.shares}}</span>
        <span class="text">{{dataLang?.statistics.labelShares}}</span>
      </div>
      <div class="m-item">
          <span class="num">{{dataW?.market}}</span>
          <span class="text">{{dataLang?.statistics.labelMarket}}</span>
        </div>
    </div>
    <div class="market-2">
      <div class="m2-item m1">
        <span class="title">AAAPL</span>
        <div class="bars">
          <div class="bar red"><i class="fill-bar" style="height: 20%"></i></div>
          <div class="bar red"><i class="fill-bar" style="height: 40%"></i></div>
          <div class="bar red"><i class="fill-bar" style="height: 60%"></i></div>
          <div class="bar red"><i class="fill-bar" style="height: 80%"></i></div>
          <div class="bar green"><i class="fill-bar" style="height: 80%"></i></div>
          <div class="bar green"><i class="fill-bar" style="height: 60%"></i></div>
          <div class="bar green"><i class="fill-bar" style="height: 40%"></i></div>
          <div class="bar green"><i class="fill-bar" style="height: 20%"></i></div>
        </div>
      </div>
      <div class="m2-item m2">
        <span class="title">{{dataLang?.statistics.labelYear}}</span>
        <div class="numHigh">{{dataW?.yearCh}}</div>
      </div>
    </div>
  </div>
</div>
