<div class="datatransfer wrapper">
  <div class="tabs">
    <ul>
      <li>Diagram Stats</li>
      <li>Month Report</li>
    </ul>
  </div>

  <div class="tab-contents">

    <div class="tabContent">

      <div class="dataPie">
        <h2 class="title">Data Transfer</h2>
        <div class="pie">
          <span class="files">2.435 files</span>
          <span class="size">45 Gb</span>
        </div>
      </div>

      <div class="data-files">
        <div class="item audio">
          <span class="item-name">Audio</span>
          <span class="item-count">55%</span>
        </div>
        <div class="item video">
          <span class="item-name">Video</span>
          <span class="item-count">23%</span>
        </div>
        <div class="item photo">
          <span class="item-name">Photo</span>
          <span class="item-count">17%</span>
        </div>
      </div>

      <div class="data-actions">
        <div class="item upload active">
          <i class="icon cloud-ico"></i>
          <span class="text">Upload Files</span>
        </div>
        <div class="item share">
          <i class="icon share-ico"></i>
          <span class="text">Share Link</span>
        </div>
        <div class="item backup">
          <i class="icon back-ico"></i>
          <span class="text">Back Up</span>
        </div>
      </div>

    </div>

    <div class="tabContent">
      <p>Content Pending</p>
    </div>
  </div>
</div>