<div class="datatransfer wrapper">
  <div class="tabs">
    <ul>
      <li (click)="tabs = 'TAB_A'" [ngClass]="{'active' : tabs == 'TAB_A' }"><span>{{dataLang?.dataTransfer.labelTab1}}</span></li>
      <li (click)="tabs = 'TAB_B'" [ngClass]="{'active' : tabs == 'TAB_B' }" ><span>{{dataLang?.dataTransfer.labelTab2}}</span></li>
    </ul>
  </div>

  <div class="tab-contents" [ngSwitch]="tabs">

    <div class="tabContent pane1" *ngSwitchCase="'TAB_A'">

      <div class="dataPie">
        <h2 class="title">{{dataLang?.dataTransfer.titleTab1}}</h2>
        
        <div class="pieChart" *ngIf="print">
          <div class="pie">
            <span class="files">{{dataW?.dataT.files}} files</span>
            <span class="size">{{dataW?.dataT.size}}</span>
          </div>
          <canvas class="chart" baseChart width="230" height="230"
                  [data]="doughnutChartData"
                  [colors]="doughnutChartColors"
                  [chartType]="doughnutChartType"></canvas>
        </div>
      </div>

      <div class="data-files">
        <div class="item audio">
          <span class="item-name">{{dataLang?.dataTransfer.mediaItem1}}</span>
          <span class="item-count">{{dataW?.media.audio}}%</span>
        </div>
        <div class="item video">
          <span class="item-name">{{dataLang?.dataTransfer.mediaItem2}}</span>
          <span class="item-count">{{dataW?.media.video}}%</span>
        </div>
        <div class="item photo">
          <span class="item-name">{{dataLang?.dataTransfer.mediaItem3}}</span>
          <span class="item-count">{{dataW?.media.photo}}%</span>
        </div>
      </div>

      <div class="data-actions">
        <div class="item upload active">
          <i class="icon cloud-ico"></i>
          <span class="text">{{dataLang?.dataTransfer.toolItem1}}</span>
        </div>
        <div class="item share">
          <i class="icon share-ico"></i>
          <span class="text">{{dataLang?.dataTransfer.toolItem2}}</span>
        </div>
        <div class="item backup">
          <i class="icon back-ico"></i>
          <span class="text">{{dataLang?.dataTransfer.toolItem3}}</span>
        </div>
      </div>

    </div>

    <div class="tabContent pane2" *ngSwitchCase="'TAB_B'">
      <p class="warn">Pending Content</p>
    </div>

  </div>
</div>