<div class="profile wrapper">
  
  <div class="profWallImg">
    <img src="http://via.placeholder.com/350x200" />
  </div>

  <div class="profUser">

    <div class="profImg">
      <img src="http://via.placeholder.com/100x100"/>
    </div>

    <div class="profInfo">
      <h2>Jhon Raymons</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

  </div>

  <div class="profDataInfo">
    <div class="itemInfo">
      <i class="views-ico"></i><span>172</span>
    </div>
    <div class="itemInfo">
      <i class="messages-ico"></i><span>34</span>
    </div>
    <div class="itemInfo">
      <i class="likes-ico"></i><span>210</span>
    </div>
      
  </div>
  
</div>