<div class="profile wrapper">
  
  <div class="profWallImg">
    <img [src]="dataW?.profileBann" />
  </div>

  <div class="profUser">

    <div class="profImg">
      <img [src]="dataW?.profileImg"/>
    </div>

    <div class="profInfo">
      <h2>{{dataW?.name}}</h2>
      <p>{{dataW?.desc}}</p>
    </div>

  </div>

  <div class="profDataInfo">
    <div class="itemInfo">
      <i class="views-ico"></i><span>{{dataW?.views}}</span>
    </div>
    <div class="itemInfo">
      <i class="messages-ico"></i><span>{{dataW?.messages}}</span>
    </div>
    <div class="itemInfo">
      <i class="likes-ico"></i><span>{{dataW?.likes}}</span>
    </div>
      
  </div>
  
</div>