<div class="contact-form wrapper">

  <form>
    <div class="head">

      <div class="form-group">
        <label>{{dataLang?.contactForm.labelCtc}}</label>
        <div class="cont-content">
          <div class="ctc bl">Hello@me.com</div>
          <div class="ctc gr">Andy@me.com</div>
          <i class="plus-btn"></i>
        </div>
      </div>

      <div class="form-group">
        <label>{{dataLang?.contactForm.labelSub}}</label>
        <input type="text" placeholder="{{dataLang?.contactForm.placeSub}}"/>
      </div>

      <div class="form-group">
        <label>{{dataLang?.contactForm.labelMess}}</label>
        <textarea placeholder="{{dataLang?.contactForm.placeMess}}"></textarea>
      </div>

    </div>
    
    <div class="actions">
      <div class="form-group">
        <input type="checkbox"/>
        <label>{{dataLang?.contactForm.labelCheck}}</label>
      </div>
      <div class="send">
        <button type="submit"><i class="arrow"></i>{{dataLang?.contactForm.btnSend}}</button>
      </div>
    </div>

  </form>
</div>