<div class="contact-form wrapper">

  <form>

    <div class="head">

      <div class="form-group">
        <label>Contacts</label>
        <div class="cont-content">
          <div class="ctc bl">Hello@me.com</div>
          <div class="ctc gr">Andy@me.com</div>
          <i class="plus-btn"></i>
        </div>
      </div>

      <div class="form-group">
        <label>Subject</label>
        <input type="text" placeholder="You can add a subject"/>
      </div>

      <div class="form-group">
        <label>Message</label>
        <textarea placeholder="Leave your messages here"></textarea>
      </div>

    </div>
    
    <div class="actions">
      <div class="form-group">
        <input type="checkbox"/>
        <label>Save a copy</label>
      </div>
      <div class="send">
        <button type="submit"><i class="arrow"></i>Send Mail</button>
      </div>
    </div>

  </form>
</div>